body {
    background-color: rgb(232, 229, 235);
}

table {
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    border-collapse: collapse;
  width: 100%;
  
}

tr:nth-child(even){
    background-color: rgb(237, 237, 241);
    width: 3%;
}

td:nth-child(odd){
    width: 3%;
}

td, th {
    border: 1px solid #c6c5ce;
    text-align: center;
    
}
#addButton{

    text-align: center;
    background-color: yellowgreen;
    border: 1px solid rgb(124, 143, 145);
    border-radius: 5%;
    display: block;
    width: 25%;
    font-size: larger;
    margin: auto;
}
.statuscellR{
    width: 100%;
    background-color:red;
}
.remover{
    background-color: crimson;
    text-align: center;
}