body {
    background-color: rgb(232, 229, 235);
}

table {
    background-color: rgb(196, 225, 228);
    border: 2px solid rgb(124, 143, 145);;
    padding: 30px;
    border-collapse: collapse;
  width: 100%;
}

td, th {
    border: 1px solid #c6c5ce;
    text-align: left;
    padding: 8px;
  }